/*
primary-color: blue #1740DA(navbar, button)
secondary-color: light blue #E7F1F6
button: orange #F03A47
shadow: #ccc
risk colours:
- green: 4CB944
- yellow: #FFFD82
red: #FF5E5B

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Montserrat:400,500,600,700|Roboto:400,500,700|Anton&display=swap');

body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

.container .wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .event-list a:hover {
  text-decoration: none;
  color: black;
} */

/* .event-list a {
  color: black !important;
}
.event-list a,
.ticket-list a {
  color: white;
  font-size: 9.8px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'montserrat';
} */

/* .event-list .card-body {
  background: rgba(0, 107, 166, 0.09);
  min-height: 100px;
  max-height: 100px;
  border-radius: 29px;
  padding: 29px 38px;
  width: 335px;
  box-shadow: 0 8px 10px -6px #ccc;
} */

/* .event-list .row-btn {
  margin-top: 30px;
}

.event-list .card {
  min-height: 172px;
  max-height: 172px;
  border: none;
} */

.wrapper h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat';
}

.navigation .bg {
  background-color: #1740da;
}

.navigation .navbar-brand {
  font-family: 'Anton', sans-serif !important;
  letter-spacing: 1px;
}

.navigation .nav-link a {
  color: #fafafa;
}

.navigation .nav-link a:hover {
  color: #fafafa;
  text-decoration: none;
}

.event-detail img {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.event-detail .col {
  padding: 0;
}

.event-detail .col-right {
  background: #e7f1f6;
}

.wrapper button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  background: #f03a47;
  border-color: transparent;
  padding: 11px 16px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.wrapper button:hover {
  border-color: transparent;
  border-color: transparent;
  background: #1740da;
}

.wrapper button:hover a {
  color: white;
  text-decoration: none;
}

.hold-info {
  padding: 35px;
}

.ticket-list .table {
  width: 50%;
  margin: 0 auto;
}

.ticket-list .table td {
  vertical-align: inherit;
}

#btn-ticket-detail,
#btn-ticket-delete {
  margin: inherit;
  margin-top: 1px;
  padding: 6px 11px 9px;
  float: right;
}

#btn-ticket-detail {
  background: #1740da;
}

#btn-ticket-detail:hover {
  background: #f03a47;
}

#btn-ticket-detail a:hover {
  color: white;
  text-decoration: none;
}

.event-form,
.ticket-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.info-message {
  text-align: center;
  margin-top: 100px;
}

.info-event {
  font-size: 15px;
}

.comment-form .form-group {
  display: inline;
}

.comment-form .form-label {
  display: inline;
}

.comment-form input {
  width: 40%;
  display: inline;
  margin: 0 10px;
}

.comment-form .btn {
  display: inline;
  margin-top: -3px;
}

.risk-green {
  color: #4cb944;
  margin-left: 10px;
}

.risk-yellow {
  color: #fffd82;
  margin-left: 10px;
}

.risk-red {
  color: red;
  margin-left: 10px;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner h2:first-child {
  text-align: center;
  line-height: 20px;
  font-size: 38px;
  letter-spacing: 2px;
  color: #fafafa;
}

.hero-inner h2 {
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  color: #fafafa;
  letter-spacing: 2px;
}

.hero-inner {
  margin: 0 auto;
  margin-bottom: 50px;
}

.home-wrapper .row-home-btn {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.home-wrapper .btn-grad {
  padding: 16px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-family: 'montserrat';
  font-size: 13px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #1740da 0%,
    #47d5b8 68%,
    #f03a47 100%
  );
  border: none;
}
.btn-grad:hover {
  background-position: right center;
}

.signup-wrapper p {
  text-align: center;
  font-weight: 100;
}

.signup-wrapper .form-row {
  width: 40%;
  margin: 0 auto;
  margin-top: 60px;
}

.signup-wrapper h1 {
  margin-bottom: 11px;
}

.signup-wrapper .form-control {
  margin-bottom: 20px;
}

.signup-wrapper a {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: underline;
}

.event-detail button a {
  color: white;
}

.event-detail .row-btn {
  margin: 0 auto;
  width: 51%;
}

/* .event-list .row-btn {
  margin: 0 auto;
  width: 52%;
  margin-top: 40px;
} */

.risk {
  float: right;
}

.tb-lbl {
  float: right;
  margin-right: 10px;
}

.table-list .table th {
  padding: 19px 12px 9px 0px;
}

.comment-block {
  margin-top: 70px !important;
  background: #e7f1f6;
  padding: 50px;
  width: 700px;
  margin: 0 auto;
}

.comment-form form {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.btn-delete {
  margin-left: 94px;
}

.action {
  float: right;
  margin-right: 14px;
}

.row-home-btn a:first-child {
  margin-right: 20px;
}

/* event list */

#event-list a:hover {
  text-decoration: none;
  color: black;
}

#event-list a {
  color: black !important;
}

#event-list a,
.ticket-list a {
  color: white;
  font-size: 9.8px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'montserrat';
}

#event-list .row-btn {
  margin-top: 30px;
}

#event-list .card {
  flex-direction: row;
  border: none;
  border-radius: 0;
  width: 450px;
  padding: 16px;
  background: #f8f7fa;
}

#event-list .card:hover {
  box-shadow: 0 7px 6px -4px #777;
}

#event-list .cards-col {
  margin-bottom: 30px;
}

#event-list .card-img-top {
  max-height: 130px;
  min-height: 130px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-text-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#event-list .card-body {
  padding: 0;
}

.card-text-wrapper .card-text {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 4px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-wrapper .card-text:first-child {
  text-transform: lowercase;
}

.card-text-wrapper .card-text:nth-child(3),
.card-text-wrapper .card-text:nth-child(4) {
  font-weight: 100;
}

.card-text-wrapper .card-text:first-child {
  color: #ffc104;
}

@media (max-width: 768px) {
  #event-list .card {
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #event-list .card {
    width: 350px;
  }
}

/* event detail */

.event-info .row-w {
  margin: 0 auto;
  width: 80%;
}

.row-badge-event .col-left {
  padding: 0;
}

.row-badge-event .col-right {
  background: #ffffff;
  padding: 35px 20px;
}

.row-badge-event .col-right,
.row-badge-event .col-left {
  margin-top: 50px;
}

.row-badge-event .col-right p:nth-child(2) {
  position: absolute;
  top: 50%;
  font-weight: bold;
}

.row-badge-event .col-right p:nth-child(3) {
  bottom: 0;
  position: absolute;
}

.row-badge-bottom {
  border: 1px solid #dbdae2;
  padding: 10px 0;
}

.row-content .full {
  border: 1px solid #dbdae2;
  border-top-color: transparent;
  padding: 50px;
  margin-bottom: 50px;
}

.row-content p {
  line-height: 2rem;
  margin-top: 20px;
  color: #39364f;
}

.row-content h6 {
  margin-top: 26px;
  font-weight: bold;
  color: #39364f;
}

.row-w a {
  color: white;
}

.row-w a:hover {
  color: white;
  text-decoration: none;
}
