/*
primary-color: blue #1740DA(navbar, button)
secondary-color: light blue #E7F1F6
button: orange #F03A47
shadow: #ccc
risk colours:
- green: 4CB944
- yellow: #FFFD82
red: #FF5E5B

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Coiny:400|Montserrat:400,500,600,700|Roboto:400,500,700|Anton&display=swap');

body,
html,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: #fafafa;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.container .wrapper .comment-form,
.container .wrapper .ticket-detail {
  width: 700px;
  display: block;
  margin: 30px auto;
}

.event-form h1,
.ticket-form h1,
.signup-wrapper h1,
.event-list h1,
.ticket-list h1 {
  margin-bottom: 50px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'montserrat';
}

.navigation .bg {
  background-color: #5215fc;
}

.navigation .navbar-brand {
  font-family: 'Coiny', cursive !important;
  color: #fafafa !important;
}

.navigation .nav-link a {
  color: #fafafa;
}

.navigation .nav-link a:hover {
  color: #fafafa;
  text-decoration: none;
}

.ticket-detail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.ticket-detail {
  margin-top: 30px;
}

.wrapper button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  background: #f03a47;
  border-color: transparent;
  padding: 11px 16px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.wrapper button:hover {
  border-color: transparent;
  border-color: transparent;
  background: #1740da;
}

.wrapper button:hover a {
  color: white;
  text-decoration: none;
}

.hold-info {
  margin: auto;
  width: 100%;
}

.ticket-list .table {
  width: 50%;
  margin: 0 auto;
}

.ticket-list .table td {
  vertical-align: inherit;
}

.ticket-list .btn-ticket-detail {
  border-radius: 50%;
  padding: 1px 8px;
  float: right;
}

.ticket-list .btn-ticket-detail:hover i {
  color: white;
}

.event-form,
.ticket-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.info-message {
  text-align: center;
  margin-top: 100px;
}

.info-event {
  font-size: 15px;
}

.comment-form .form-group {
  display: inline;
}

.comment-form .form-label {
  display: inline;
}

.comment-form input {
  display: inline;
  height: 65px;
}

.comment-form .btn {
  border: 1px solid transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 30px;
}

.risk-green {
  color: #4cb944;
  margin-left: 10px;
}

.risk-yellow {
  color: #fffd82;
  margin-left: 10px;
}

.risk-red {
  color: red;
  margin-left: 10px;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner h2:first-child {
  text-align: center;
  line-height: 20px;
  font-size: 38px;
  letter-spacing: 2px;
  color: #fafafa;
}

.hero-inner h2 {
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  color: #fafafa;
  letter-spacing: 2px;
}

.hero-inner {
  margin: 0 auto;
  margin-bottom: 50px;
}

.home-wrapper .row-home-btn {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.home-wrapper .home-btn {
  padding: 16px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-family: 'montserrat';
  font-size: 13px;
  font-weight: 600;
  background: #1ec7c5;
  border-radius: 39px;
  margin: 10px;
  border: none;
}
.btn-grad:hover {
  background-position: right center;
}

.signup-wrapper p {
  text-align: center;
  font-weight: 100;
}

.signup-wrapper .form-row {
  width: 40%;
  margin: 0 auto;
  margin-top: 60px;
}

.signup-wrapper h1 {
  margin-bottom: 11px;
}

.signup-wrapper .form-control {
  margin-bottom: 20px;
}

.signup-wrapper a {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: underline;
}

.risk {
  float: right;
}

.tb-lbl {
  float: right;
  margin-right: 10px;
}

.table-list .table th {
  padding: 19px 12px 9px 0px;
}

.comment-block {
  background: #f3f0fb;
  padding: 16px 40px;
  margin: 10px auto;
  border: 1px solid transparent;
  border-radius: 10px;
}

.comment-form form {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.btn-delete {
  margin-left: 94px;
}

.action {
  float: right;
  margin-right: 14px;
}

.row-home-btn a:first-child {
  margin-right: 20px;
}

.row-home-btn h5 {
  color: white;
  font-family: 'Roboto';
  margin-bottom: 35px;
  font-size: 20px;
}

/* event list */

#event-list a:hover {
  text-decoration: none;
  color: black;
}

#event-list a {
  color: black !important;
}

#event-list a,
.ticket-list a {
  color: white;
  font-size: 18px;
}

#event-list .row-btn {
  margin-top: 30px;
}

#event-list .card {
  flex-direction: row;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 420px;
  padding: 16px;
  background: #f3f0fb;
}

#event-list .card:hover {
  box-shadow: 0 7px 6px -4px #777;
}

#event-list .cards-col {
  margin-bottom: 30px;
}

#event-list .card-col-right {
  padding-left: 0;
}

#event-list .card-img-top {
  max-height: 130px;
  min-height: 130px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-text-wrapper {
  padding: 10px;
}

#event-list .card-body {
  padding: 0;
}

.card-text-wrapper .card-text {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 4px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-wrapper .card-text:first-child {
  text-transform: lowercase;
}

.card-text-wrapper .card-text:nth-child(3),
.card-text-wrapper .card-text:nth-child(4) {
  font-weight: 100;
}

.card-text-wrapper .card-text:first-child {
  color: #5215fc;
}

.ticketCard {
  width: 730px;
  margin: auto;
  padding: 10px;
  background: #f3f0fb;
  padding: 35px 55px 25px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.tick-btns-action {
  border-top: 1px solid #dde2e6;
  margin-top: 15px;
}

.tick-btns-action #btn-red {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border-color: transparent;
  padding: 6px 0px;
  width: 100%;
}

.hold-info .info:nth-child(2) {
  margin-top: 30px;
}

.btn-send-comment button {
  border: 1px solid transparent;
  border-radius: 50%;
}

.wrapper.comment-form {
  width: 730px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

#btn-green:hover {
  background: #2fdaa1;
  border-color: transparent;
}

#btn-green {
  background: #4ee0af;
  border-color: transparent;
}

#btn-red {
  background: #f2545f;
  border-color: transparent;
}

#btn-red:hover {
  background: #f03a47;
  border-color: transparent;
}

.row-badge-bottom #btn-green,
.row-badge-bottom #btn-red {
  width: 100%;
}

.btn-form {
  width: 25%;
  margin-top: 20px;
}

.btn-access {
  display: block;
  text-align: center;
  margin: 20px auto 5px;
}

.before {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  right: 50%;
}

@media (max-width: 768px) {
  #event-list .card {
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #event-list .card {
    width: 350px;
  }
}

/* event detail */

.event-info .row-w {
  margin: 0 auto;
  width: 80%;
}

.row-badge-event .col-left {
  padding: 0;
}

.row-badge-event .col-right {
  background: #ffffff;
  padding: 35px 20px;
}

.row-badge-event .col-right,
.row-badge-event .col-left {
  margin-top: 50px;
}

.row-badge-event .col-right p:nth-child(2) {
  position: absolute;
  top: 50%;
  font-weight: bold;
}

.row-badge-event .col-right p:nth-child(3) {
  bottom: 0;
  position: absolute;
}

.row-badge-bottom {
  border: 1px solid #dbdae2;
  padding: 10px 0;
}

.row-content .full {
  border: 1px solid #dbdae2;
  border-top-color: transparent;
  padding: 50px;
  margin-bottom: 50px;
}

.row-content p {
  line-height: 2rem;
  margin-top: 20px;
  color: #39364f;
}

.row-content h6 {
  margin-top: 26px;
  font-weight: bold;
  color: #39364f;
}

.row-w a {
  color: white;
}

.row-w a:hover {
  color: white;
  text-decoration: none;
}
