/*
primary-color: blue #157DFB (navbar, button)
secondary-color: green #69D1C5
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Montserrat:400,500,600,700|Roboto:400,500,700&display=swap');

body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container .wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.event-list a:hover {
  text-decoration: none;
  color: black;
}

.event-list a,
.ticket-list a {
  color: black;
  font-size: 9.8px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'montserrat';
}

.event-list .card-body {
  background: rgba(0, 107, 166, 0.09);
  min-height: 100px;
  max-height: 100px;
  border-radius: 29px;
  padding: 29px 38px;
  width: 335px;
}

.event-list .row-btn {
  margin-top: 30px;
}

.event-list .card {
  min-height: 172px;
  max-height: 172px;
  border: none;
}

.wrapper h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

.navigation .bg {
  background-color: #1740da;
}

.navigation .nav-link a {
  color: #fafafa;
}

.navigation .nav-link a:hover {
  color: #fafafa;
  text-decoration: none;
}

.event-detail img {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.event-detail .col {
  padding: 0;
}

.event-detail .col-right {
  background: rgba(0, 107, 166, 0.09);
}

.wrapper button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  background: #6df0c2;
  border-color: transparent;
  padding: 11px 16px;
  color: black;
}

.wrapper button:hover {
  background: #92b5cc;
  /* or background: #B4C5E4; */
  border-color: transparent;
}

.wrapper button:hover a {
  color: white;
}

.hold-info {
  padding: 35px;
}

.ticket-list .table {
  width: 50%;
  margin: 0 auto;
}

.ticket-list .table td {
  vertical-align: inherit;
}

#btn-ticket-detail {
  float: right;
  margin-top: 1px;
  padding: 6px 11px 9px;
}

#btn-ticket-detail a:hover {
  color: white;
  text-decoration: none;
}

.event-form,
.ticket-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.info-message {
  text-align: center;
  margin-top: 100px;
}

.event-list .col-cards {
  margin-top: 30px;
}

.event-list h1 {
  margin-bottom: 20px !important;
}

.info-event {
  font-size: 15px;
}

.comment-form .form-group {
  display: inline;
}

.comment-form .form-label {
  display: inline;
}

.comment-form input {
  width: 40%;
  display: inline;
  margin: 0 10px;
}

.comment-form .btn {
  display: inline;
  margin-top: -3px;
}
